<html>
  <body>
    <br><h1>Créer un gossip :</h1><br>

    <% if @gossip.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
        <ul>
          <% @gossip.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <form action=<%= gossips_path %> method = "Post">
      <input type= "hidden" name= "authenticity_token" value = "<%= form_authenticity_token%>">
      Titre du gossip :<br>
      <input type = "title" name = "title"><br >
      Contenu du gossip :<br>
      <input type = "content" name = "content"><br>
      <br>
      <input type = "submit" value = "Valider">
    </form><br>

    <%= link_to "Home", root_path %><br>

  </body>
</html>