<%= render "shared/navbar" %>
<br><br>
<p>Pour des questions à propos d'informations sur nos produits, contactez nous par téléphone au 08 09 10 10 50<br>
Je vous prie d'agréer, mesdames, messieurs, l'assurance de nos gros bisous.</p>