<%= render "shared/navbar" %>
<br><br>
<h1><strong>The Gossip Project</strong></h1><br>
<h2> Project.THP by Mariolle Thibault</h2>
<br>
<h4>- Ruby & Rails :</h4>
<p>
* Ruby version '2.5.1'<br>
* Rails version '5.2.3'<br><br>
<p> Codename: Llamas in Pajamas<br>
<h3>Made in Montpellier</h3>

<div class="d-flex flex-wrap m-4 justify-content-center">
  <div class="d-flex flex-column align-items-center m-4">
    <%= image_tag 'thib.jpg', class: 'team_images' %>
  </div>
</div>