  <%= render "shared/navbar" %>

<div class="jumbotron"><br>
  <h1 class="display-4">Voici toute les villes :</h1>
</div>

<div class="card-columns">
<% @cities.each do |city| %>
  <div class="card">
      <div class="card-body">
        <h4 class="card-title"><strong><%= city.name %></strong></h4>
        <footer class="footer">
          <small class="text-muted">
            <a href="<%= city_path(city.id) %>" class="btn btn-primary">Voir la ville</a>
          </small>
        </footer>
      </div>
  </div>
<% end %>